.select2-container--default .select2-dropdown {
  border: none !important;
}
.select2-container--default .select2-dropdown .select2-search__field {
  font-family: 'Brown', sans-serif;
  display: block;
  width: 100%;
  padding: 14px 10px;
  line-height: 42px;
  font-size: 14px;
  color: #1F1F1F;
  background: transparent;
  font-weight: 400;
  border-radius: 5px !important;
  border: none;
}
.select2-container--default .select2-dropdown .select2-results {
  border-radius: 5px;
  overflow: hidden;
}
.select2-container--default .select2-dropdown .select2-results__option {
  border-bottom: 1px solid #A2A2A2;
  padding: 20px 10px;
  background-color: #ffffff;
  color: #565765;
  font-weight: 500;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.select2-container--default .select2-dropdown .select2-results__option:last-child {
  border-bottom: none;
}
.select2-container--default .select2-dropdown .select2-results__option.select2-results__option--highlighted[aria-selected] {
  background-color: #ffffff;
  color: #BCBCBC;
}
.select2-container--default .select2-dropdown .select2-results__option[aria-selected=true] {
  background-color: #ffffff !important;
  color: #2B2367;
}
.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
  border-color: #ffffff transparent transparent transparent !important;
  border-width: 5px 4px 0 4px;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 40px !important;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b {
  border-color: #ffffff transparent transparent transparent !important;
  border-width: 5px 4px 0 4px;
  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  -o-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}
form .field {
  display: inline-block;
  position: relative;
  vertical-align: top;
  margin-bottom: 10px;
  width: 100%;
}
form .field:last-child {
  margin-bottom: 0;
}
form .field.noMarginBottom {
  margin-bottom: 0;
}
form .field.invalid .input,
form .field.invalid .select2 .selection .select2-selection,
form .field.invalid .textarea {
  border: 1px solid #c15757 !important;
}
form .field.invalid .radio {
  border: 2px solid #c15757 !important;
}
form .field.invalid .uploadButton {
  background: #c15757 !important;
  border: 2px solid #c15757 !important;
}
form .field.invalid .uploadButton:hover {
  background: #ffffff !important;
  color: #c15757 !important;
}
form .field.invalid .requiredText {
  color: #c15757;
}
form .field.right {
  text-align: right;
}
form .field label {
  color: #ffffff;
  display: block;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  font-size: 14px;
  left: 0;
  top: 0;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -o-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  margin-bottom: 10px;
  opacity: 1;
}
form .field label:after {
  content: '';
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  background: #ffffff;
  opacity: 0;
  z-index: -1;
  -webkit-transition: all 0s ease-out;
  -moz-transition: all 0s ease-out;
  -o-transition: all 0s ease-out;
  transition: all 0s ease-out;
}
form .field label a {
  color: #2B2367;
  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  -o-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}
form .field label a:hover {
  opacity: .7;
}
form .field .input {
  height: 42px;
  line-height: 42px;
  border: 2px solid rgba(255, 255, 255, 0.2);
  -webkit-border-top-right-radius: 2px;
  -webkit-border-bottom-right-radius: 2px;
  -webkit-border-bottom-left-radius: 2px;
  -webkit-border-top-left-radius: 2px;
  -moz-border-radius-topright: 2px;
  -moz-border-radius-bottomright: 2px;
  -moz-border-radius-bottomleft: 2px;
  -moz-border-radius-topleft: 2px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  font-family: 'Brown', sans-serif;
  font-size: 14px;
  background-color: rgba(255, 255, 255, 0.1) !important;
  background: rgba(255, 255, 255, 0.1);
  padding: 14px 10px;
  color: rgba(255, 255, 255, 0.4) !important;
  -webkit-text-fill-color: #ffffff !important;
  -webkit-box-shadow: 0 0 0px 1000px rgba(255, 255, 255, 0.1) inset;
  width: 100%;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
form .field .input::placeholder {
  color: rgba(255, 255, 255, 0.4) !important;
  -webkit-text-fill-color: rgba(255, 255, 255, 0.4) !important;
}
form .field .input::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.4) !important;
  -webkit-text-fill-color: rgba(255, 255, 255, 0.4) !important;
}
form .field input:-webkit-autofill {
  font-family: 'Brown', sans-serif;
  font-size: 14px !important;
}
form .field .select2 {
  line-height: 40px;
  height: 42px;
  border: 2px solid rgba(255, 255, 255, 0.2);
  -webkit-border-top-right-radius: 2px;
  -webkit-border-bottom-right-radius: 2px;
  -webkit-border-bottom-left-radius: 2px;
  -webkit-border-top-left-radius: 2px;
  -moz-border-radius-topright: 2px;
  -moz-border-radius-bottomright: 2px;
  -moz-border-radius-bottomleft: 2px;
  -moz-border-radius-topleft: 2px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  font-family: 'Brown', sans-serif;
  font-size: 14px;
  background-color: rgba(255, 255, 255, 0.1) !important;
  background: rgba(255, 255, 255, 0.1);
  color: #ffffff !important;
  -webkit-text-fill-color: #ffffff !important;
  -webkit-box-shadow: 0 0 0px 1000px rgba(255, 255, 255, 0.1) inset;
  width: 100% !important;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
form .field .select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 40px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 14px;
}
form .field .select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 100%;
}
form .field .select2-container--default .select2-selection--single {
  background-color: transparent;
  border: none;
  border-radius: 0;
}
form .field.half {
  width: calc(50% - 28px);
  vertical-align: middle;
}
form .field.required input {
  padding-right: 40px;
}
form .divider {
  display: block;
  width: 100%;
  margin: 20px 0;
  height: 1px;
  background: rgba(255, 255, 255, 0.2);
}
/*# sourceMappingURL=form.css.map */