@font-face {
  font-family: 'icomoon';
  src: url('/assets/fonts/icomoon.eot?d3yjbo');
  src: url('/assets/fonts/icomoon.eot?d3yjbo#iefix') format('embedded-opentype'), url('/assets/fonts/icomoon.ttf?d3yjbo') format('truetype'), url('/assets/fonts/icomoon.woff?d3yjbo') format('woff'), url('/assets/fonts/icomoon.svg?d3yjbo#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-arrow-down:before {
  content: "\e900";
}
.icon-arrow-up:before {
  content: "\e901";
}
.icon-check:before {
  content: "\e902";
}
.icon-close:before {
  content: "\e903";
}
.icon-dots:before {
  content: "\e904";
}
.icon-ethernet:before {
  content: "\e905";
}
.icon-graph:before {
  content: "\e906";
}
.icon-location:before {
  content: "\e907";
}
.icon-play:before {
  content: "\e908";
}
.icon-questionmark:before {
  content: "\e909";
}
.icon-waves:before {
  content: "\e90a";
}
.icon-wifi:before {
  content: "\e90b";
}
.icon-windows:before {
  content: "\e90c";
}
@font-face {
  font-family: 'Brown';
  src: url('/assets/fonts/robotoslab-bold-fixed.ttf?cmvbu8') format('truetype'), url('/assets/fonts/robotoslab-bold-fixed.woff?cmvbu8') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: block;
}
* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
  border-collapse: inherit;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
  -webkit-text-rendering: optimizeSpeed;
  text-rendering: optimizeSpeed;
  /*    .transform(translateZ(0));*/
}
header,
.content,
footer {
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -o-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.content *:not(g) {
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -o-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
*:focus {
  outline: none;
}
a {
  text-decoration: none;
}
input[type=date]::-webkit-clear-button,
input[type=date]::-webkit-calendar-picker-indicator,
input[type=date]::-webkit-inner-spin-button,
input[type=date]::-webkit-outer-spin-button {
  display: none;
  -webkit-appearance: none;
}
input,
textarea {
  /*-webkit-appearance: none !important;*/
}
input[type=number]::-webkit-inner-spin-button,
textarea[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number]::-webkit-outer-spin-button,
textarea[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
img.lazy {
  visibility: hidden;
  opacity: 0;
}
.lazyBackground.lazy {
  background-image: none !important;
}
.has-scroll-smooth[data-scroll-container] {
  -webkit-transform: none;
  -moz-transform: none;
  -o-transform: none;
  -ms-transform: none;
  transform: none;
}
.has-scroll-smooth body {
  overflow: hidden !important;
}
html,
body {
  text-rendering: optimizeLegibility;
  text-rendering: geometricPrecision;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: 'Brown', sans-serif;
  font-weight: 400;
  height: 100vh;
  width: 100vw;
  font-size: 14px;
  min-height: -webkit-fill-available;
  opacity: 1;
  -webkit-transition: opacity 0.3s 0s ease-out;
  -moz-transition: opacity 0.3s 0s ease-out;
  -o-transition: opacity 0.3s 0s ease-out;
  transition: opacity 0.3s 0s ease-out;
}
html.fadeOut,
body.fadeOut {
  opacity: 0;
  overflow: hidden;
}
html.overflow,
body.overflow {
  overflow: hidden;
  height: auto;
}
html p,
body p {
  font-size: 14px;
  line-height: 20px;
  font-family: 'Brown-light', sans-serif;
  color: #565765;
}
html .content,
body .content {
  height: 100%;
  position: relative;
  z-index: 1;
  overflow-x: hidden;
}
html .contentScroller,
body .contentScroller {
  position: relative;
  z-index: 1;
  padding-top: 150px;
}
html .contentScroller .dataScroller,
body .contentScroller .dataScroller {
  will-change: transform;
}
html .contentScroller .innerContainer,
body .contentScroller .innerContainer {
  pointer-events: all;
}
html .contentScroller .innerContainer.blue .blockContainer.fastContainer,
body .contentScroller .innerContainer.blue .blockContainer.fastContainer {
  background: #2B2367;
  color: #ffffff;
}
html .contentScroller .innerContainer.grey .blockContainer.fastContainer,
body .contentScroller .innerContainer.grey .blockContainer.fastContainer {
  background: #F5F5F5;
}
html .contentScroller .innerContainer .blockContainer,
body .contentScroller .innerContainer .blockContainer {
  position: relative;
}
html .contentScroller .innerContainer .blockContainer.fastContainer,
body .contentScroller .innerContainer .blockContainer.fastContainer {
  background: #ffffff;
  color: #1F1F1F;
}
html .contentScroller .innerContainer .blockContainer .innerBlockContainer,
body .contentScroller .innerContainer .blockContainer .innerBlockContainer {
  position: relative;
  z-index: 1;
  min-height: 100%;
}
html .contentScroller .innerContainer .blockContainer .innerBlockContainer section:first-child,
body .contentScroller .innerContainer .blockContainer .innerBlockContainer section:first-child {
  margin-top: 0;
}
html .contentScroller .innerContainer .blockContainer .innerBlockContainer section:last-child,
body .contentScroller .innerContainer .blockContainer .innerBlockContainer section:last-child {
  margin-bottom: 0;
}
html .contentScroller .innerContainer .blockContainer .opacityBackground,
body .contentScroller .innerContainer .blockContainer .opacityBackground {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  background: #000;
  opacity: 0;
}
html.noPointers {
  pointer-events: none !important;
}
html.noPointers * {
  pointer-events: none !important;
}
html.is-changing #swupContainer.transition-fade,
html.fade #swupContainer.transition-fade,
html.is-changing #overlayContainer.transition-fade,
html.fade #overlayContainer.transition-fade {
  opacity: 0;
}
/*
body{
    position:fixed;
    height:100%;
    overflow:hidden;
}*/
body {
  background: #CCE4EB;
}
body.noScroll {
  overflow: hidden !important;
}
.background {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.background .filterWrapper {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  filter: blur(20px);
  -moz-opacity: 0.4;
  -khtml-opacity: 0.4;
  -webkit-opacity: 0.4;
  opacity: 0.4;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=40);
  filter: alpha(opacity=40);
}
.background .filterWrapper img {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.contentWrapper {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  max-width: 100%;
}
.contentWrapper.small {
  width: 810px;
}
.blocks {
  position: relative;
}
.subTitle {
  color: #BCBCBC;
  font-size: 12px;
  line-height: 12px;
  margin-bottom: 10px;
  font-weight: 400;
}
.subTitle.primary {
  color: #2B2367;
  opacity: .4;
}
.title {
  color: #2B2367;
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 20px;
  font-weight: 500;
}
.title.white {
  color: #ffffff;
}
.mediumTitle {
  color: #2B2367;
  font-size: 14px;
  line-height: 28px;
  margin-bottom: 20px;
  font-weight: 500;
}
.mediumTitle.white {
  color: #ffffff;
}
.mediumTitleWrapper,
.titleWrapper {
  margin-bottom: 20px;
}
.mediumTitleWrapper .title,
.titleWrapper .title,
.mediumTitleWrapper .mediumTitle,
.titleWrapper .mediumTitle {
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 0;
}
.titleWrapper {
  display: block;
  width: 100%;
}
.titleWrapper .title,
.titleWrapper .mediumTitle {
  width: calc(100% - 32px);
}
.titleWrapper .number,
.titleWrapper .title,
.titleWrapper .mediumTitle {
  vertical-align: top;
}
.titleWrapper .number {
  margin-top: 2px;
}
.select2-container {
  z-index: 10;
}
.button {
  border: 2px solid #FFED01;
  -webkit-border-top-right-radius: 50px;
  -webkit-border-bottom-right-radius: 50px;
  -webkit-border-bottom-left-radius: 50px;
  -webkit-border-top-left-radius: 50px;
  -moz-border-radius-topright: 50px;
  -moz-border-radius-bottomright: 50px;
  -moz-border-radius-bottomleft: 50px;
  -moz-border-radius-topleft: 50px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-top-left-radius: 50px;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  display: inline-block;
  font-size: 14px;
  background: #FFED01;
  padding: 14px 50px;
  color: #2B2367;
  font-weight: 500;
  font-family: 'Brown', sans-serif;
  position: relative;
  text-align: center;
  overflow: hidden;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.button.blueBorder:hover {
  color: #2B2367;
  border-color: #2B2367;
}
.button.outline {
  background: transparent;
  color: #FFED01;
}
.button.outline:hover {
  background: #FFED01;
  color: #2B2367;
}
.button:hover {
  background: transparent;
  color: #FFED01;
}
.number {
  display: inline-block;
  vertical-align: middle;
  -webkit-border-top-right-radius: 50%;
  -webkit-border-bottom-right-radius: 50%;
  -webkit-border-bottom-left-radius: 50%;
  -webkit-border-top-left-radius: 50%;
  -moz-border-radius-topright: 50%;
  -moz-border-radius-bottomright: 50%;
  -moz-border-radius-bottomleft: 50%;
  -moz-border-radius-topleft: 50%;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
  border-top-left-radius: 50%;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background: #FFED01;
  font-size: 14px;
  line-height: 23px;
  width: 22px;
  height: 22px;
  margin-right: 10px;
  color: #2B2367;
  text-align: center;
}
/*# sourceMappingURL=default.css.map */